* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #9471fd;
  overflow-x: hidden;
}

.underlined {
  text-decoration: underline black;
}

// Used in second section
@keyframes slideIn {
  from {
    transform: translateX(100vw);
    display: none;
  }
  to {
    transform: translateX(0);
    display: block;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
    display: block;
  }
  to {
    transform: translateX(-100vw);
    display: none;
  }
}

// Bouncing balls in third section
